@use "sass:color";

@use "var" as *;
@use "mix" as *;

@if $enable-brands {
	/** Marcas */
	@each $n,$v in $brands{
		.btn-#{$n}{
			@include social-buttons-color($v, color.scale($v, $lightness: 6%));
		}
		.bg-#{$n}{
			background-color: $v !important;
			@include colors($v, 'background-color');
		}
		.fg-#{$n}{
			color: $v !important;
			@include colors($v, 'color');
		}
	}
}

[class*="-hover"] {
    transition: background-color 0.3s, color 0.3s, border-color 0.25s;
}